<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cita</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="event">
      <ion-input required type="text" placeholder="Titulo" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item *ngIf="event">
      <ion-input required type="text" placeholder="Descripcion" [(ngModel)]="event.description"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveEvent()">Save</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger" (click)="onRemoveEvent(eventId)" routerLink="/" routerDirection="forward">        <!-- Get FireBase Id  -->
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>