<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AGENDA
    </ion-title>
    <ion-button slot="end" *ngIf="userService.afAuth.auth.currentUser" (click)="userService.signOut()">Cerrar Sesión</ion-button>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <firebase-ui></firebase-ui>
  <ion-list *ngIf="userService.afAuth.auth.currentUser">
    <ng-container *ngIf="!events || events.length == 0">
      <div>
        <ion-skeleton-text></ion-skeleton-text>
        <img id= "calendar" src="../../assets/icon/calendar.svg">
       <h5>¡Bravo! No tienes tareas pendientes!</h5> 
          <ion-skeleton-text></ion-skeleton-text>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let event of events,let i = index, let isFirst = first">
      <ion-list-header *ngIf="isFirst || ((event.date | date: 'dd/MM/yy') != (events[i -1].date | date: 'dd/MM/yy'))"> 
        {{event.date | date: 'dd/MM/yy'}}
      </ion-list-header>
      <ion-item lines="inset" button [routerLink]="['/details', event.id]">
        <ion-avatar slot="start">
          <img src="../../assets/icon/{{event.type}}.svg">
        </ion-avatar>
        
        <ion-label>
          {{ event.title }}
        </ion-label>
        <!-- <ion-note slot="end" color="primary">{{ event.priority }}</ion-note> -->
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="onRemoveEvent(item)" color="danger">
          BORRAR
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button routerLink="/details" (click)="eventsService.setEventType('cita')" routerDirection="forward">
      <img class="event" src="../../assets/icon/cita.svg">
    </ion-fab-button>
    <ion-fab-button routerLink="/details" (click)="eventsService.setEventType('nota')" routerDirection="forward">
      <img  class="event" src="../../assets/icon/nota.svg">
    </ion-fab-button>
    <ion-fab-button routerLink="/details" (click)="eventsService.setEventType('aniversario')" routerDirection="forward">
      <img   class="event"src="../../assets/icon/aniversario.svg">
    </ion-fab-button>
  </ion-fab-list>
 </ion-fab>
</ion-content>